# --- SCRIPTS ---
env.sh
fix_repo.sh
rebuild_history.sh

# Standard Ignores
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.env
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
/lib/core/config/firebase_options.dart
firebase.json
google_pay.json
/lib/assets/json/google_pay.png
/linux
/windows
/web
/macos
/ios
